<div ng-controller="articleContentCtr">
    <div class="row">

        <div class=" col-md-10 col-md-offset-1" >
            <div class="article-category">
                Kategoria: {{articleTitle.category}}
            </div>
            <div class="article-tag">
                <span>tagi:</span>
                <span ng-repeat="tag in articleTitle.tagsList">
                    <a class="" href="#" >
                            {{tag}}
                    </a>|
                </span>
            </div>
        </div>

        <div class=" col-md-10 col-md-offset-1" >
            <div class="article-title">
               <h1> {{articleTitle.title}} </h1>
            </div>
        </div>

        <div class=" col-md-8 col-md-offset-2" >
            <div class="article-short">
                <h4> {{articleTitle.describe}} </h4>
            </div>
            <div class="article-content">
                {{articleContent.content}}
            </div>
        </div>

        <div class=" col-md-10 col-md-offset-1" >
            <div class="article-tag article-tag-down">
                <span>tagi:</span>
                <span ng-repeat="tag in articleTitle.tagsList">
                    <a class="" href="#" >
                            {{tag}}
                    </a>|
                </span>
            </div>
        </div>

    </div>
</div>
