footer{
    border: 0;
}


/***********/
.custom-footer {
    border-top: 1px solid rgba(0,0,0,.1);
    margin-top: 40px;
    padding-top: 20px;
}
.float-right {
    float:right;
}

.float-left {
    float:left;
}

.margin-left {
    margin-left: 20px;
}

span.footer-element{
    margin-left:20px;
    margin-right:20px;
}


a.footer-element{
    margin-left:10px;
    margin-right:10px;
    color : #999;
}

/**************/
.comment {
    margin-top: 10px;
}
.comment-content{
    font-style: italic;
}

/**********/

.article-tag{
    font-size:11px;
}

.article-tag-down{
   margin-top: 20px;
   margin-bottom: 30px;
}

.comment-top-margin{
       margin-top: 30px;
}

/*********************/

.logo{
    margin-top: 40px;
    margin-bottom: 20px;
}

.logo a{
    font-size: 26px;
}

.menu{
    border-top: 1px solid #999
}

.menu a{
    font-size: 12px;
}


/******************/
.mainComponent {
    margin: 10px;
    padding: 10px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    }

    .img-cont-main-contener{
        margin-left: 9px;
        margin-top: 20px;
        margin-bottom: 16px;
    }

    .magazin-title-mian{
        height: 350px;
        color: white;
        font-size:50px

    }

a {
    color: #555;

    }


/******************/

.article-category {
    margin-top:20px;
}

.article-list-element{
   margin-top:30px;
}